*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "DM Sans", sans-serif;
    background-color: rgb(13, 13, 13);
    color: rgb(79, 148, 10);
}
.container{
    max-width: min(96%, 1200px);
    margin: 0 auto;
}
.navigation{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: min(100%, 1200px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    margin: 1rem 0;
    background-color: rgba(13, 13, 13, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    
}
.navigation h2{
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(110, 212, 8);
}
.navigation .nav ul{
    display: flex;
    list-style: none;
}
.navigation .nav ul a{
    text-decoration: none;
    color: rgb(79, 148, 10);
    margin: 0 0.7rem;
    position: relative;
    font-size: 1rem;
}
.navigation .nav ul a::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 95%;
    left: 0;
    background: white;
    bottom: -4px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.navigation .socials ul {
    display: flex;
    list-style: none;
}
.navigation .socials ul a{
    text-decoration: none;
    color: rgb(110, 212, 8);
    margin: 0 0.3rem;
    font-size: 1.7rem;
}

/*hover effects*/
.navigation .nav ul a:hover::after{
    transform: scaleX(1);
}
.nav ul a:hover{
    color: aliceblue;
} 
.navigation .socials ul li a i:hover{
    transform: translateY(-8px);
}

.home{
    display: flex;
    gap: 15rem;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem 4rem;
    height: 40vw;
}
.home .div-home h1{
    font-size: 3.5rem;
    color: rgb(193, 224, 251);
}
.div-home h3{
    color: rgb(110, 212, 8);
}
.home .div-home h2{
    color: rgb(131, 131, 131);
    font-weight: 400;
}
.home .div-home .button{
    padding: 0.8rem;
    margin: 0.2rem;
    font-size: 1rem;
    color:rgb(110, 212, 8);
    background-color: rgba(13, 13, 13, 0.5);
    border-color: rgb(110, 212, 8);
    margin: 1.5rem 0;
}
.home img{
    max-width: 400px;
    border-radius: 40%;
}
.about{
    background-color: rgb(20, 20, 20);
    height: min(95vh, 700px) ;
    display: flex;
    align-items: center;
}
.about img{
    max-width: 380px;
    margin: 5rem;
    border-radius: 20px;
}
.about-right{
    margin-right: 8rem;
    margin-bottom: 4rem;
}
.about .about-right h1{
    color: rgb(110, 212, 8);
    font-weight: 400;
    margin-bottom: 1rem;
}

.about .about-right h2{
    color: rgb(233, 245, 255);
    font-weight: 250;
    font-size: 1.2rem;
}



@media screen and (max-width: 365px)
{

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body{
        overflow-x: hidden;
    }

    .container{
        width: 100%;
        padding: 0;
    }
    .navigation{
        width: 100%;
        padding: 1rem 0 0;
        background-color: rgb(13, 13, 13);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .navigation .nav,
    .navigation .socials{
        display: none;
    }
    .navigation h2{
        font-size: 1.5rem;
        left: 0;
    }
    .home{
        padding-bottom: 12rem;
        min-height: 100dvh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 2.5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .home img{
        max-width: 90vw;
    }
    .div-home h2{
        font-size: 1rem;
    }
    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 100dvh;
    }
    .about img{
        max-width: 80vw;
    }
    .about .about-right{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0 3rem;
    }
}


@media screen and (max-width: 770px)
{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,
    body{
        overflow-x: hidden;
    }
    .container
    {
        width: 100%;
        max-width: 100dvw;
    }
    
    .navigation{
        margin: 0;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(13, 13, 13);
        gap: 1rem;
    }
    .navigation h2{
        font-size: 2.2rem;
    }
    .navigation .nav ul li a{
        font-size: 1rem;
    }
    .navigation .socials{
        display: none;
    }
    .home{
        padding: 0;
        height: 100dvh;
        display: flex;
        flex-direction: column-reverse;
        gap: 3rem;
        padding-bottom: 8rem;
    }
    .home .div-home h3{
        font-size: 2rem;
    }
    .home img{
        width: 80vw;
        max-width: none;
    }
    .home .div-home .button{
        margin-left: 1rem;
    }
    .about{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        min-height: 100dvh;
        height: fit-content;
        padding-bottom: 2rem;
    }
    .about img{
        max-width: none;
        width: 58vw;
    }
    .about-right{
        margin: 0 auto;
        max-width: 25rem;
        padding: 1rem 2rem;
    }
    .about-right h1{
        font-size: 2.5rem;
        margin-left: 1rem;
    }
    .about .about-right h2{
        font-size: 1.5rem;
    }
}
